<?xml version="1.0"?>
<config>
    <modules>
        <Kiala_LocateAndSelect>
            <version>1.3.2</version>
        </Kiala_LocateAndSelect>
    </modules>
    <phpunit>
        <suite>
            <modules>
                <Kiala_LocateAndSelect />
            </modules>
        </suite>
    </phpunit>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <locateandselect before="Mage_Adminhtml">Kiala_LocateAndSelect_Adminhtml</locateandselect>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <locateandselect>
                <class>Kiala_LocateAndSelect_Model</class>
                <resourceModel>locateandselect_mysql4</resourceModel>
            </locateandselect>
            <locateandselect_mysql4>
                <class>Kiala_LocateAndSelect_Model_Mysql4</class>
                <entities>
                    <language>
                        <table>kiala_language</table>
                    </language>
                    <customeraddress>
                        <table>kiala_customeraddress</table>
                    </customeraddress>
                </entities>
            </locateandselect_mysql4>
            <sales>
                <rewrite>
                    <order_shipment_track>Kiala_LocateAndSelect_Model_Order_Shipment_Track</order_shipment_track>
                </rewrite>
            </sales>
        </models>
        <request>
            <direct_front_name>
                <locateandselect />
            </direct_front_name>
        </request>
        <blocks>
            <locateandselect>
                <class>Kiala_LocateAndSelect_Block</class>
            </locateandselect>
            <adminhtml>
                <rewrite>
                    <sales_order_view>Kiala_LocateAndSelect_Block_Adminhtml_Orders_View</sales_order_view>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <order_info>Kiala_LocateAndSelect_Block_Sales_Order_Info</order_info>
                </rewrite>
            </sales>
        </blocks>
        <helpers>
            <locateandselect>
                <class>Kiala_LocateAndSelect_Helper</class>
            </locateandselect>
        </helpers>
        <resources>
            <kiala_locateandselect_setup>
                <setup>
                    <module>Kiala_LocateAndSelect</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </kiala_locateandselect_setup>
            <kiala_locateandselect_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </kiala_locateandselect_write>
            <kiala_locateandselect_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </kiala_locateandselect_read>
        </resources>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <kiala_shipping_method_observer_address>
                        <type>singleton</type>
                        <class>Kiala_LocateAndSelect_Model_Checkout_ShippingMethod_Observer</class>
                        <method>updateKialaAddress</method>
                    </kiala_shipping_method_observer_address>
                    <kiala_shipping_method_observer_attributes>
                        <type>singleton</type>
                        <class>Kiala_LocateAndSelect_Model_Checkout_ShippingMethod_Observer</class>
                        <method>saveKialaAttributes</method>
                    </kiala_shipping_method_observer_attributes>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>
        <fieldsets>
            <sales_convert_quote>
                <dspid>
                    <to_order>dspid</to_order>
                </dspid>
                <language>
                    <to_order>language</to_order>
                </language>
            </sales_convert_quote>
            <sales_convert_quote_address>
                <kp_id>
                    <to_order_address>kp_id</to_order_address>
                    <to_customer_address>kp_id</to_customer_address>
                </kp_id>
            </sales_convert_quote_address>
        </fieldsets>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <locateandselect module="Kiala_LocateAndSelect">
                    <file>kiala_locateandselect.xml</file>
                </locateandselect>
            </updates>
        </layout>
        <translate>
            <modules>
                <Kiala_LocateAndSelect>
                    <files>
                        <default>Kiala_LocateAndSelect.csv</default>
                    </files>
                </Kiala_LocateAndSelect>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <events></events>
        <routers>
            <locateandselect>
                <use>standard</use>
                <args>
                    <module>Kiala_LocateAndSelect</module>
                    <frontName>locateandselect</frontName>
                </args>
            </locateandselect>
        </routers>
        <translate>
            <modules>
                <Kiala_LocateAndSelect>
                    <files>
                        <default>Kiala_LocateAndSelect.csv</default>
                    </files>
                </Kiala_LocateAndSelect>
            </modules>
        </translate>
        <layout>
            <updates>
                <locateandselect module="Kiala_LocateAndSelect">
                    <file>kiala_locateandselect.xml</file>
                </locateandselect>
            </updates>
        </layout>
    </frontend>
    <default>
        <carriers>
            <kiala>
                <admin_guide><![CDATA[For optimal usage, please see the Administration guide which is available online.]]></admin_guide>
                <active>1</active>
                <title>Kiala</title>
                <sort_order><![CDATA[0]]></sort_order>
                <use_tablerates>0</use_tablerates>
                <preselected>1</preselected>
                <flatfee_shippingcost><![CDATA[0]]></flatfee_shippingcost>
                <preparation_delay><![CDATA[2]]></preparation_delay>
                <frontend_url><![CDATA[https://locateandselect.kiala.com]]></frontend_url>
                <frontend_url_parameters>a:1:{i:0;a:3:{s:5:"param";s:3:"gui";s:3:"val";s:5:"sleek";s:6:"delete";s:0:"";}}</frontend_url_parameters>
                <kp_details_url><![CDATA[http://locateandselect.kiala.com/details]]></kp_details_url>
                <kp_details_url_parameters>a:1:{i:0;a:3:{s:5:"param";s:3:"gui";s:3:"val";s:5:"sleek";s:6:"delete";s:0:"";}}</kp_details_url_parameters>
                <show_inline>1</show_inline>
                <map_width>600</map_width>
                <map_height>430</map_height>
                <desktop_app_user>0</desktop_app_user>
                <api_uri><![CDATA[http://packandship-ws.kiala.com/psws/order]]></api_uri>
                <trackandtrace_uri><![CDATA[http://trackandtrace.kiala.com/search]]></trackandtrace_uri>
                <model>Kiala_LocateAndSelect_Model_Carrier_Kiala</model>
            </kiala>
        </carriers>
        <locateandselect>
        </locateandselect>
    </default>
</config>
